<!DOCTYPE HTML>
<html>
	<head>
		<title>c13iscuit labs</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="homepage">

			<div id="header-wrapper">
				<div id="header">
					<nav id="nav">
						<ul>
							<li><a href="#about" class="link">About Me</a></li>
							<li><a href="#projects" class="link">Projects</a></li>
							<li><a href="#tech" class="link">Technologies</a></li>
							<li><a href="#intouch" class="link">Contact / Resumé</a></li>
						</ul>
					</nav>

					<section id="banner">
						<header>
							<h2>Howdy. Welcome to c13iscuit labs.</h2>
							<p>presented by chris barnett</p>
						</header>
					</section>
					<br>

					<section id="intro" class="container">
						<div id="about"><br>
							<header class="major" style="margin-bottom: 0;">
								<h2 style="font-size: 35px;">About Me</h2>
							</header>
						</div>
						<div class="row">
							<div class="4u">
								<section class="first">
									<i class="icon featured fa-cogs"></i>
									<header>
										<h2>Technically skilled</h2>
									</header>
									<p>I've cultivated an engineering mindset through personal projects, professional work and my time at Launch Academy.</p>
								</section>
							</div>
							<div class="4u">
								<section class="middle">
									<i class="icon featured alt fa-flash"></i>
									<header>
										<h2>Creatively minded</h2>
									</header>
									<p>I'm into gaming, fashion, cars and robotics. If you can use it to build something or show off, I'm in!</p>
								</section>
							</div>
							<div class="4u">
								<section class="last">
									<i class="icon featured alt2 fa-graduation-cap"></i>
									<header>
										<h2>Eternal student</h2>
									</header>
									<p>I'm always looking for something new to learn and absorb. Stagnation is the enemeny. Destroy the enemy.</p>
								</section>
							</div>
						</div>
					</section>
				</div>
			</div>

			<div id="main-wrapper">
				<div class="container" id="projects"><br>
					<div class="row">
						<div class="12u">
							<section>
								<header class="major">
									<h2>Projects</h2>
								</header>
								<div class="row">
									<div class="6u">
										<section class="box">
											<a class="image featured"><img src="https://s3.amazonaws.com/ooomf-com-files/cA4aKEIPQrerBnp1yGHv_IMG_9534-3-2.jpg" alt="" /></a>
											<header>
												<h3>barnettit</h3>
											</header>
											<p>a TDD improvement of the popular sharing site reddit that supports login through Twitter and Facebook OAuth, image upload to Amazon S3 through CarrierWave, voting via polymorphic associations in ActiveRecord, content sorting, background jobs to automatically generate content through API’s and webcrawling from New York Times, buzzfeed, ESPN, Cracked.com, TheChive and more.</p>
											<footer>
												<ul class="actions">
													<li><a href="http://barnettit.herokuapp.com" class="button icon fa-external-link">See it in action!</a></li>
												</ul>
											</footer>
										</section>
									</div>
									<div class="6u">
										<section class="box">
											<a class="image featured"><img src="https://s3.amazonaws.com/ooomf-com-files/EOZpjI3oSqKPNnF2S4Tp_Untitled.jpg" alt="" /></a>
											<header>
												<h3>The Forrester Kitchen</h3>
											</header>
											<p>A reactive site for The Forrester Kitchen in Brooklyn. The site is a showcase for the restaurant and a crucial part of their business. It includes a multitude of images, menus, information and reservation booking through opentable. Mobile was a must because in New York, browsing for food is done on your phone! This was a great experience and I'm really happy with the finished product.</p>
											<footer>
												<ul class="actions">
													<li><a href="#" class="button icon fa-external-link">See it in action!</a></li>
												</ul>
											</footer>
										</section>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>

			<div id="main-wrapper" style="background-color: #FFFFFF;">
				<div class="container" id="tech"><br>
					<div class="row">
						<div class="12u">
							<section>
								<header class="major">
									<h2 style="background-color: #FFFFFF;">Technologies</h2>
								</header>
								<div class="feature-list">
									<div class="row">
										<div class="5u" style="margin-left: 3em;">
											<section>
												<h3><span class="fa-stack fa-2x">
											  	<i class="fa fa-circle fa-stack-2x"></i>
											  	<i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
												</span> Ruby</h3><hr>
												<p>I have a high level of proficency with Ruby, including the most popular and useful gems. I enjoy working within ruby frameworks like Sinatra and Rails.</p>
											</section>
										</div>
										<div class="5u" style="margin-left: 5em;">
											<section>
												<h3><span class="fa-stack fa-2x">
											  	<i class="fa fa-circle fa-stack-2x"></i>
											  	<i class="fa fa-code fa-stack-1x fa-inverse"></i>
												</span> Javascript</h3><hr>
												<p>I'm familiar with the techniques and strategies for implementing JavaScript on the web, using jQuery to bring life to the sites I produce.</p>
											</section>
										</div>
									</div>
									<div class="row">
										<div class="5u" style="margin-left: 3em;">
											<section>
												<h3><span class="fa-stack fa-2x">
											  	<i class="fa fa-circle fa-stack-2x"></i>
											  	<i class="fa fa-flag-checkered fa-stack-1x fa-inverse"></i>
												</span> Rails</h3><hr>
												<p>I continue to build full-featured web apps in an agile environment using the rails framework. Ruby on Rails will always be my first love.</p>
											</section>
										</div>
										<div class="5u" style="margin-left: 5em;">
											<section>
												<h3><span class="fa-stack fa-2x">
											  	<i class="fa fa-circle fa-stack-2x"></i>
											  	<i class="fa fa-github fa-stack-1x fa-inverse"></i>
												</span> git/GitHub</h3><hr>
												<p>I use git and Github in collaborative environments to lead and contribute to development projects.</p>
											</section>
										</div>
									</div>
									<div class="row">
										<div class="5u" style="margin-left: 3em;">
											<section>
												<h3><span class="fa-stack fa-2x">
											  	<i class="fa fa-circle fa-stack-2x"></i>
											  	<i class="fa fa-html5 fa-stack-1x fa-inverse"></i>
												</span> HTML5</h3><hr>
												<p>I fully leverage HTML5 to build reactive pages and views using embeded Ruby. I build mobile first sites whenever possible to ensure a great end user experience on mobile devices.</p>
											</section>
										</div>
										<div class="5u" style="margin-left: 5em;">
											<section>
												<h3><span class="fa-stack fa-2x">
											  	<i class="fa fa-circle fa-stack-2x"></i>
											  	<i class="fa fa-css3 fa-stack-1x fa-inverse"></i>
												</span> CSS3</h3><hr>
												<p>I have used CSS to create attractive, well designed webpages. I'm also familiar with CSS precompilers, having used LESS and having a familiarity with Sass. I have also built responsive pages using Twitter Bootstrap.</p>
											</section>
										</div>
									</div>
									<div class="row">
										<div class="5u" style="margin-left: 3em;">
											<section>
												<h3><span class="fa-stack fa-2x">
											  	<i class="fa fa-circle fa-stack-2x"></i>
											  	<i class="fa fa-table fa-stack-1x fa-inverse"></i>
												</span> SQL</h3><hr>
												<p>PostgreSQL is my go to database. I utilize it through manual manipulation and the ActiveRecord ORM. I understand Single-Table Inheritance and the principles of good ERD design.</p>
											</section>
										</div>
										<div class="5u" style="margin-left: 5em;">
											<section>
												<h3><span class="fa-stack fa-2x">
											  	<i class="fa fa-circle fa-stack-2x"></i>
											  	<i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
												</span> Deployments</h3><hr>
												<p>I have a basic familiarity with Redis and heroku, which I use to host my apps in staging and production. </p>
											</section>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>

			<div id="header-wrapper">
				<div id="header">
					<section id="intro" class="container">
						<div id="intouch"><br>
							<header class="major" style="margin-bottom: 0;">
								<h2 style="font-size: 35px;">Contact</h2>
							</header>
						</div>
						<div class="row">
							<div class="6u">
								<section class="first">
									<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/4/005/064/003/283d1ac.jpg" style="width: 250px; border-radius: 60px; border-style: solid; border-width: 1px; border-color: #333333;" />
								</a>
								</section>
							</div>
							<div class="6u">
								<section class="middle">
								<ul class="social" style="text-align: left; margin-left: 4em; margin-bottom: 1em;">
									<li><a class="icon fa-linkedin" href="http://www.linkedin.com/in/csbarnett/"><span class="label">LinkedIn</span></a></li>
									<li><a class="icon fa-github" href="https://github.com/c13iscuit"><span class="label">GitHub</span></a></li>
									<li><a class="icon fa-facebook" href="https://www.facebook.com/profile.php?id=1627116536"><span class="label">Facebook</span></a></li>
									<li><a class="icon fa-twitter" href="https://twitter.com/c13iscuit"><span class="label">Twitter</span></a></li>
								</ul>
								<ul class="contact" style="margin-left: 4em; margin-bottom: 1em;">
									<li>
										<h3>Location</h3>
										<p><strong>NYC</strong></p>
									</li>
									<hr>
									<li>
										<h3>Mail</h3>
										<p><a href="mailto:c13iscuit@gmail.com">c13iscuit@gmail.com</a></p>
									</li>
									<hr>
									<li>
										<h3>Phone</h3>
										<p><strong>(917) 754 - 0555</strong></p>
									</li>
								</ul>
								<ul style="text-align: left; margin-left: 4em;">
									<li><h4><a href="ChrisBarnett_Resume.pdf" class="button icon fa-file-text" download="ChrisBarnett_Resume.pdf">Resumé</a></h4></li>
								</ul>
								</section>
							</div>
						</div>
					</section>
				</div>
			</div>

			<div id="footer-wrapper">
				<section id="footer" class="container">
					<div class="row">
						<div class="9u" style="margin-left: 8em;">
							<section>
								<header>
									<h2>Important Dates for c13iscuit labs:</h2>
								</header>
								<ul class="dates">
									<li>
										<span class="date">Aug <strong>7</strong></span>
										<h3>Personal site redesign</h3>
										<p>c13iscuit labs finally has the website it deserves! Hope you like the new layout and easy access to contact information.</p>
									</li>
									<li>
										<span class="date">Jul <strong>25</strong></span>
										<h3>Launch Academy Graduation</h3>
										<p>Launch Academy helped c13iscuit labs' chief developer expand his skillset and deepened his knowledge of web development best practices. This was a huge day for us!</p>
									</li>
								</ul>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="12u">
							<div id="copyright">
								<ul class="links">
									<li>&copy; c13iscuit labs. All rights reserved.</li><li>With design elements from: <a href="http://html5up.net">html5up</a></li>
								</ul>
							</div>
						</div>
					</div>

				</section>
			</div>

	</body>
	<script src="js/scroll.js"></script>
</html>
